body {
    
    background-image: url("https://www.thoughtco.com/thmb/I92hfGFxomX_hFtcRXQC35N07hg=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-537436868-58e097d93df78c5162fcf65e.jpg");
   
    background-size: cover;
        z-index: -1;
        
        padding: 50px;
    font-family: sans-serif;
  }
  #container {
    display: flex;
    justify-content: center;
  }